server {
    listen 80;
    listen [::]:80;
    server_name xxx.local;
    root /var/www/html;

    index index.php;

    error_log /var/log/nginx/app_error.log;
    access_log /var/log/nginx/app_access.log;
}
